In [4]:
import os
import numpy as np
import pandas as pd
import datetime 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv('loan.csv')

In [6]:
df

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male
6,xqd20160007,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/7/2016 23:07,NaN,29,college,male
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male
8,xqd20160909,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/8/2016 16:00,NaN,28,college,male
9,xqd20160010,PAIDOFF,800,15,9/10/2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
10,xqd20160011,PAIDOFF,300,7,9/10/2016,9/16/2016,9/11/2016 19:11,NaN,29,college,male
11,xqd20160012,PAIDOFF,1000,15,9/10/2016,10/9/2016,10/9/2016 16:00,NaN,39,High School or Below,male
12,xqd20160013,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/7/2016 23:32,NaN,26,college,male
13,xqd20160014,PAIDOFF,900,7,9/10/2016,9/16/2016,9/13/2016 21:57,NaN,26,college,female
14,xqd20160015,PAIDOFF,1000,7,9/10/2016,9/16/2016,9/15/2016 14:27,NaN,27,High School or Below,male
15,xqd20160016,PAIDOFF,800,15,9/10/2016,9/24/2016,9/24/2016 16:00,NaN,26,college,male
16,xqd20160017,PAIDOFF,1000,30,9/10/2016,10/9/2016,9/27/2016 14:21,NaN,40,High School or Below,male
17,xqd20160018,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/23/2016 18:49,NaN,32,High School or Below,male
18,xqd20160019,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/5/2016 22:05,NaN,32,High School or Below,male
19,xqd20160020,PAIDOFF,800,30,9/10/2016,10/9/2016,9/23/2016 7:42,NaN,26,college,male
20,xqd20160021,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/9/2016 9:00,NaN,26,college,male
21,xqd20160022,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/8/2016 17:09,NaN,43,High School or Below,female
22,xqd20160023,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/9/2016 23:00,NaN,25,High School or Below,male
23,xqd20160024,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
24,xqd20160025,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/3/2016 12:50,NaN,26,college,male
25,xqd20160026,PAIDOFF,1000,30,9/10/2016,10/9/2016,9/29/2016 12:18,NaN,29,High School or Below,male
26,xqd20160027,PAIDOFF,800,15,9/10/2016,9/24/2016,9/21/2016 20:16,NaN,39,Bechalor,male
27,xqd20170088,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/23/2016 8:21,NaN,34,Bechalor,male
28,xqd20160029,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/22/2016 19:17,NaN,31,college,male
29,xqd20160030,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/9/2016 17:33,NaN,33,college,male
...,...,...,...,...,...,...,...,...,...,...,...
470,xqd20160471,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/28/2016 15:02,2.0,32,High School or Below,male
471,xqd20160472,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/4/2016 14:46,24.0,27,Bechalor,male
472,xqd20160473,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/16/2016 12:12,51.0,33,college,male
473,xqd20160474,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:02,3.0,30,High School or Below,male
474,xqd20160475,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 11:34,2.0,26,High School or Below,female
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 18:12,29.0,35,college,female
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female
477,xqd20160478,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/20/2016 17:38,9.0,27,college,male
478,xqd20160479,COLLECTION_PAIDOFF,1000,15,9/12/2016,10/11/2016,11/7/2016 8:55,27.0,22,High School or Below,male
479,xqd20160480,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:26,1.0,27,Bechalor,male
480,xqd20160481,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/25/2016 13:44,29.0,30,Bechalor,male
481,xqd20160482,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/29/2016 15:07,3.0,27,High School or Below,male
482,xqd20160483,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/27/2016 11:40,1.0,47,college,male
483,xqd20160484,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/18/2016 19:08,7.0,30,college,male
484,xqd20160485,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/15/2016 9:23,4.0,26,college,male
485,xqd20160486,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 10:07,3.0,38,High School or Below,male
486,xqd20160487,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/21/2016 11:36,56.0,46,High School or Below,male
487,xqd20160488,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 12:02,2.0,35,Bechalor,male
488,xqd20160489,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/9/2016 19:30,13.0,45,college,male
489,xqd20160490,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:04,1.0,36,college,male
490,xqd20160491,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/17/2016 10:53,6.0,38,High School or Below,male
491,xqd20160492,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 13:41,29.0,27,college,male
492,xqd20160493,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/25/2016 17:44,14.0,27,Bechalor,male
493,xqd20160494,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/29/2016 12:45,3.0,29,college,male
494,xqd20160495,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 14:45,2.0,30,High School or Below,male
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male

In [7]:
df[['education','loan_status']]

                education         loan_status
0    High School or Below             PAIDOFF
1                Bechalor             PAIDOFF
2                Bechalor             PAIDOFF
3                 college             PAIDOFF
4                 college             PAIDOFF
5         Master or Above             PAIDOFF
6                 college             PAIDOFF
7                 college             PAIDOFF
8                 college             PAIDOFF
9                 college             PAIDOFF
10                college             PAIDOFF
11   High School or Below             PAIDOFF
12                college             PAIDOFF
13                college             PAIDOFF
14   High School or Below             PAIDOFF
15                college             PAIDOFF
16   High School or Below             PAIDOFF
17   High School or Below             PAIDOFF
18   High School or Below             PAIDOFF
19                college             PAIDOFF
20                college             PAIDOFF
21   High School or Below             PAIDOFF
22   High School or Below             PAIDOFF
23                college             PAIDOFF
24                college             PAIDOFF
25   High School or Below             PAIDOFF
26               Bechalor             PAIDOFF
27               Bechalor             PAIDOFF
28                college             PAIDOFF
29                college             PAIDOFF
..                    ...                 ...
470  High School or Below  COLLECTION_PAIDOFF
471              Bechalor  COLLECTION_PAIDOFF
472               college  COLLECTION_PAIDOFF
473  High School or Below  COLLECTION_PAIDOFF
474  High School or Below  COLLECTION_PAIDOFF
475               college  COLLECTION_PAIDOFF
476               college  COLLECTION_PAIDOFF
477               college  COLLECTION_PAIDOFF
478  High School or Below  COLLECTION_PAIDOFF
479              Bechalor  COLLECTION_PAIDOFF
480              Bechalor  COLLECTION_PAIDOFF
481  High School or Below  COLLECTION_PAIDOFF
482               college  COLLECTION_PAIDOFF
483               college  COLLECTION_PAIDOFF
484               college  COLLECTION_PAIDOFF
485  High School or Below  COLLECTION_PAIDOFF
486  High School or Below  COLLECTION_PAIDOFF
487              Bechalor  COLLECTION_PAIDOFF
488               college  COLLECTION_PAIDOFF
489               college  COLLECTION_PAIDOFF
490  High School or Below  COLLECTION_PAIDOFF
491               college  COLLECTION_PAIDOFF
492              Bechalor  COLLECTION_PAIDOFF
493               college  COLLECTION_PAIDOFF
494  High School or Below  COLLECTION_PAIDOFF
495  High School or Below  COLLECTION_PAIDOFF
496  High School or Below  COLLECTION_PAIDOFF
497               college  COLLECTION_PAIDOFF
498               college  COLLECTION_PAIDOFF
499  High School or Below  COLLECTION_PAIDOFF

[500 rows x 2 columns]

In [8]:
pd.isnull(df).any()

Loan_ID           False
loan_status       False
Principal         False
terms             False
effective_date    False
due_date          False
paid_off_time      True
past_due_days      True
age               False
education         False
Gender            False
dtype: bool

In [9]:
df.dropna()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
400,xqd20160401,COLLECTION_PAIDOFF,1000,30,9/9/2016,10/8/2016,10/10/2016 11:45,2.0,26,college,male
401,xqd20160402,COLLECTION_PAIDOFF,1000,15,9/9/2016,9/23/2016,9/27/2016 17:00,4.0,28,college,male
402,xqd20320403,COLLECTION_PAIDOFF,1000,30,9/9/2016,11/7/2016,11/20/2016 14:10,13.0,39,college,male
403,xqd20160404,COLLECTION_PAIDOFF,1000,15,9/9/2016,9/23/2016,9/28/2016 15:38,5.0,29,Bechalor,male
404,xqd20190405,COLLECTION_PAIDOFF,800,15,9/9/2016,9/23/2016,9/26/2016 17:22,3.0,33,High School or Below,male
405,xqd20160406,COLLECTION_PAIDOFF,1000,30,9/10/2016,10/9/2016,10/21/2016 14:00,12.0,27,college,male
406,xqd20160407,COLLECTION_PAIDOFF,800,15,9/10/2016,9/24/2016,9/26/2016 11:03,2.0,34,college,male
407,xqd20160408,COLLECTION_PAIDOFF,1000,30,9/10/2016,10/9/2016,11/5/2016 15:39,27.0,26,High School or Below,male
408,xqd20110409,COLLECTION_PAIDOFF,1000,30,9/10/2016,10/9/2016,11/22/2016 15:53,44.0,28,High School or Below,male
409,xqd20160410,COLLECTION_PAIDOFF,1000,15,9/10/2016,9/24/2016,9/29/2016 10:30,5.0,32,Bechalor,male
410,xqd20160411,COLLECTION_PAIDOFF,800,15,9/10/2016,10/9/2016,10/10/2016 15:18,1.0,27,college,female
411,xqd20160412,COLLECTION_PAIDOFF,1000,30,9/10/2016,10/9/2016,11/5/2016 10:49,27.0,21,college,male
412,xqd20160413,COLLECTION_PAIDOFF,800,15,9/11/2016,9/25/2016,9/27/2016 17:10,2.0,39,college,male
413,xqd20169083,COLLECTION_PAIDOFF,1000,15,9/11/2016,9/25/2016,9/26/2016 11:35,1.0,38,college,male
414,xqd20160415,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/12/2016 9:59,2.0,36,High School or Below,female
415,xqd20160416,COLLECTION_PAIDOFF,800,15,9/11/2016,9/25/2016,9/27/2016 17:14,2.0,33,college,male
416,xqd20160417,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/11/2016 12:45,1.0,21,college,female
417,xqd20160418,COLLECTION_PAIDOFF,800,15,9/11/2016,9/25/2016,9/28/2016 11:38,3.0,25,High School or Below,male
418,xqd20160419,COLLECTION_PAIDOFF,800,15,9/11/2016,9/25/2016,10/7/2016 13:21,12.0,29,college,male
419,xqd20160420,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,11/4/2016 15:37,25.0,33,High School or Below,male
420,xqd20160421,COLLECTION_PAIDOFF,1000,15,9/11/2016,9/25/2016,9/28/2016 17:39,3.0,47,High School or Below,female
421,xqd20160422,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/12/2016 9:52,2.0,33,college,male
422,xqd20160423,COLLECTION_PAIDOFF,800,15,9/11/2016,9/25/2016,9/29/2016 15:12,4.0,23,High School or Below,male
423,xqd20160424,COLLECTION_PAIDOFF,1000,15,9/11/2016,10/10/2016,10/12/2016 11:17,2.0,24,college,male
424,xqd20880425,COLLECTION_PAIDOFF,1000,30,9/11/2016,11/9/2016,11/10/2016 22:58,1.0,27,High School or Below,male
425,xqd20160426,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,11/3/2016 15:23,24.0,32,Bechalor,male
426,xqd20160427,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/11/2016 16:44,1.0,33,college,male
427,xqd20160428,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/11/2016 11:02,2.0,27,college,female
428,xqd20160429,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/12/2016 13:17,2.0,35,High School or Below,male
429,xqd20160430,COLLECTION_PAIDOFF,500,15,9/11/2016,10/10/2016,10/11/2016 17:22,1.0,37,Bechalor,male
...,...,...,...,...,...,...,...,...,...,...,...
470,xqd20160471,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/28/2016 15:02,2.0,32,High School or Below,male
471,xqd20160472,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/4/2016 14:46,24.0,27,Bechalor,male
472,xqd20160473,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/16/2016 12:12,51.0,33,college,male
473,xqd20160474,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:02,3.0,30,High School or Below,male
474,xqd20160475,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 11:34,2.0,26,High School or Below,female
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 18:12,29.0,35,college,female
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female
477,xqd20160478,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/20/2016 17:38,9.0,27,college,male
478,xqd20160479,COLLECTION_PAIDOFF,1000,15,9/12/2016,10/11/2016,11/7/2016 8:55,27.0,22,High School or Below,male
479,xqd20160480,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:26,1.0,27,Bechalor,male
480,xqd20160481,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/25/2016 13:44,29.0,30,Bechalor,male
481,xqd20160482,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/29/2016 15:07,3.0,27,High School or Below,male
482,xqd20160483,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/27/2016 11:40,1.0,47,college,male
483,xqd20160484,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/18/2016 19:08,7.0,30,college,male
484,xqd20160485,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/15/2016 9:23,4.0,26,college,male
485,xqd20160486,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 10:07,3.0,38,High School or Below,male
486,xqd20160487,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/21/2016 11:36,56.0,46,High School or Below,male
487,xqd20160488,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 12:02,2.0,35,Bechalor,male
488,xqd20160489,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/9/2016 19:30,13.0,45,college,male
489,xqd20160490,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:04,1.0,36,college,male
490,xqd20160491,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/17/2016 10:53,6.0,38,High School or Below,male
491,xqd20160492,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 13:41,29.0,27,college,male
492,xqd20160493,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/25/2016 17:44,14.0,27,Bechalor,male
493,xqd20160494,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/29/2016 12:45,3.0,29,college,male
494,xqd20160495,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 14:45,2.0,30,High School or Below,male
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male

In [11]:
df[df['age'] > 30]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male
11,xqd20160012,PAIDOFF,1000,15,9/10/2016,10/9/2016,10/9/2016 16:00,NaN,39,High School or Below,male
16,xqd20160017,PAIDOFF,1000,30,9/10/2016,10/9/2016,9/27/2016 14:21,NaN,40,High School or Below,male
17,xqd20160018,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/23/2016 18:49,NaN,32,High School or Below,male
18,xqd20160019,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/5/2016 22:05,NaN,32,High School or Below,male
21,xqd20160022,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/8/2016 17:09,NaN,43,High School or Below,female
26,xqd20160027,PAIDOFF,800,15,9/10/2016,9/24/2016,9/21/2016 20:16,NaN,39,Bechalor,male
27,xqd20170088,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/23/2016 8:21,NaN,34,Bechalor,male
28,xqd20160029,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/22/2016 19:17,NaN,31,college,male
29,xqd20160030,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/9/2016 17:33,NaN,33,college,male
30,xqd88160031,PAIDOFF,800,15,9/11/2016,9/25/2016,9/24/2016 14:41,NaN,33,High School or Below,male
31,xqd20160032,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/7/2016 21:48,NaN,37,college,male
33,xqd22169034,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/9/2016 7:24,NaN,37,college,male
34,xqd20160035,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 21:49,NaN,33,college,male
37,xqd20160038,PAIDOFF,700,15,9/11/2016,9/25/2016,9/25/2016 13:00,NaN,33,High School or Below,male
40,xqd20160041,PAIDOFF,1000,15,9/11/2016,9/25/2016,9/25/2016 9:00,NaN,32,college,female
42,xqd20160043,PAIDOFF,1000,7,9/11/2016,9/24/2016,9/24/2016 9:00,NaN,31,Bechalor,male
45,xqd20160046,PAIDOFF,800,7,9/11/2016,9/17/2016,9/12/2016 22:17,NaN,35,High School or Below,male
47,xqd20160048,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/9/2016 8:53,NaN,32,college,male
48,xqd20160049,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,32,Bechalor,male
49,xqd20160050,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 19:21,NaN,50,High School or Below,male
51,xqd20160052,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,35,Bechalor,female
52,xqd20160053,PAIDOFF,800,15,9/11/2016,9/25/2016,9/13/2016 4:34,NaN,35,Bechalor,female
53,xqd20160054,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,34,High School or Below,male
58,xqd20160059,PAIDOFF,800,15,9/11/2016,9/25/2016,9/24/2016 11:40,NaN,44,High School or Below,female
59,xqd20160060,PAIDOFF,800,15,9/11/2016,9/25/2016,9/22/2016 6:38,NaN,39,Master or Above,male
...,...,...,...,...,...,...,...,...,...,...,...
431,xqd20160432,COLLECTION_PAIDOFF,1000,15,9/11/2016,9/25/2016,9/29/2016 13:42,4.0,33,college,male
432,xqd20160433,COLLECTION_PAIDOFF,800,7,9/11/2016,9/17/2016,9/19/2016 15:00,2.0,34,Bechalor,female
434,xqd20160435,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/11/2016 11:33,1.0,34,Bechalor,male
437,xqd20160438,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/11/2016 16:13,1.0,34,High School or Below,male
446,xqd20420447,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,11/4/2016 11:07,25.0,31,college,male
450,xqd20160451,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/13/2016 16:27,3.0,38,college,male
451,xqd20160452,COLLECTION_PAIDOFF,800,15,9/11/2016,9/25/2016,9/29/2016 11:19,4.0,41,college,male
454,xqd20160455,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/17/2016 17:40,6.0,35,High School or Below,male
455,xqd20160456,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/28/2016 9:42,2.0,37,college,male
458,xqd20160459,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 15:10,2.0,34,college,male
459,xqd20160460,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 13:36,2.0,33,college,male
460,xqd20490461,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 15:34,2.0,38,Bechalor,male
461,xqd20160462,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/17/2016 11:55,7.0,38,High School or Below,male
463,xqd20870464,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/30/2016 10:23,4.0,37,Bechalor,male
464,xqd20160465,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 17:17,1.0,42,High School or Below,female
465,xqd20169466,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 12:54,1.0,49,High School or Below,female
467,xqd20160468,COLLECTION_PAIDOFF,1000,15,9/12/2016,10/26/2016,10/27/2016 11:14,1.0,41,High School or Below,male
468,xqd20160469,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/15/2016 14:14,4.0,38,High School or Below,male
470,xqd20160471,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/28/2016 15:02,2.0,32,High School or Below,male
472,xqd20160473,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/16/2016 12:12,51.0,33,college,male
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 18:12,29.0,35,college,female
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female
482,xqd20160483,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/27/2016 11:40,1.0,47,college,male
485,xqd20160486,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 10:07,3.0,38,High School or Below,male
486,xqd20160487,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/21/2016 11:36,56.0,46,High School or Below,male
487,xqd20160488,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 12:02,2.0,35,Bechalor,male
488,xqd20160489,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/9/2016 19:30,13.0,45,college,male
489,xqd20160490,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:04,1.0,36,college,male
490,xqd20160491,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/17/2016 10:53,6.0,38,High School or Below,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female

In [12]:
df[df['Gender'] == 'female']

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
13,xqd20160014,PAIDOFF,900,7,9/10/2016,9/16/2016,9/13/2016 21:57,NaN,26,college,female
21,xqd20160022,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/8/2016 17:09,NaN,43,High School or Below,female
40,xqd20160041,PAIDOFF,1000,15,9/11/2016,9/25/2016,9/25/2016 9:00,NaN,32,college,female
44,xqd20160045,PAIDOFF,1000,15,9/11/2016,9/25/2016,9/21/2016 22:29,NaN,24,Bechalor,female
50,xqd20160051,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 13:00,NaN,27,college,female
51,xqd20160052,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,35,Bechalor,female
52,xqd20160053,PAIDOFF,800,15,9/11/2016,9/25/2016,9/13/2016 4:34,NaN,35,Bechalor,female
58,xqd20160059,PAIDOFF,800,15,9/11/2016,9/25/2016,9/24/2016 11:40,NaN,44,High School or Below,female
72,xqd20160073,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 16:00,NaN,33,Bechalor,female
78,xqd20160079,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/30/2016 14:29,NaN,37,college,female
79,xqd20160080,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,44,High School or Below,female
84,xqd20160085,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 13:00,NaN,37,High School or Below,female
86,xqd20160087,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,24,High School or Below,female
87,xqd20160088,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/17/2016 13:01,NaN,27,college,female
89,xqd90160090,PAIDOFF,800,15,9/11/2016,9/25/2016,9/24/2016 20:33,NaN,46,High School or Below,female
90,xqd91160291,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 9:00,NaN,34,college,female
91,xqd90160092,PAIDOFF,1000,7,9/11/2016,9/17/2016,9/17/2016 9:00,NaN,32,Bechalor,female
99,xqd20160100,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/8/2016 16:55,NaN,31,Bechalor,female
111,xqd20160112,PAIDOFF,1000,30,9/11/2016,11/9/2016,11/9/2016 9:00,NaN,27,college,female
133,xqd20160134,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/30/2016 7:12,NaN,33,college,female
136,xqd20160137,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 13:00,NaN,32,High School or Below,female
143,xqd20160144,PAIDOFF,800,15,9/11/2016,9/25/2016,9/21/2016 15:33,NaN,33,college,female
146,xqd20160147,PAIDOFF,1000,30,9/11/2016,11/9/2016,11/9/2016 23:00,NaN,26,college,female
152,xqd20160153,PAIDOFF,500,15,9/12/2016,9/26/2016,9/13/2016 20:17,NaN,23,college,female
155,xqd20160156,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/11/2016 13:00,NaN,36,High School or Below,female
158,xqd12160159,PAIDOFF,1000,15,9/12/2016,9/26/2016,9/26/2016 9:00,NaN,28,college,female
163,xqd28160164,PAIDOFF,1000,15,9/12/2016,9/26/2016,9/26/2016 9:00,NaN,27,college,female
...,...,...,...,...,...,...,...,...,...,...,...
266,xqd20160267,PAIDOFF,800,15,9/13/2016,9/27/2016,9/24/2016 12:46,NaN,31,Bechalor,female
269,xqd20160270,PAIDOFF,800,30,9/14/2016,10/13/2016,10/6/2016 12:09,NaN,40,college,female
271,xqd20160272,PAIDOFF,1000,30,9/14/2016,10/13/2016,10/8/2016 17:12,NaN,32,college,female
287,xqd20160288,PAIDOFF,1000,30,9/14/2016,10/13/2016,10/12/2016 3:49,NaN,38,High School or Below,female
290,xqd20160291,PAIDOFF,1000,15,9/14/2016,9/28/2016,9/22/2016 9:28,NaN,30,college,female
295,xqd20160296,PAIDOFF,1000,30,9/14/2016,10/13/2016,10/13/2016 13:00,NaN,30,college,female
305,xqd20160306,COLLECTION,1000,15,9/10/2016,9/24/2016,NaN,75.0,31,High School or Below,female
311,xqd20160312,COLLECTION,800,15,9/10/2016,9/24/2016,NaN,75.0,26,High School or Below,female
328,xqd20160329,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,24,High School or Below,female
333,xqd20160334,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,30,High School or Below,female
334,xqd20160335,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,38,college,female
338,xqd20160339,COLLECTION,1000,15,9/11/2016,9/25/2016,NaN,74.0,27,college,female
340,xqd20160341,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,30,High School or Below,female
365,xqd20160366,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,27,High School or Below,female
375,xqd20160376,COLLECTION,800,15,9/11/2016,9/25/2016,NaN,74.0,26,High School or Below,female
392,xqd20160393,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,29,college,female
410,xqd20160411,COLLECTION_PAIDOFF,800,15,9/10/2016,10/9/2016,10/10/2016 15:18,1.0,27,college,female
414,xqd20160415,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/12/2016 9:59,2.0,36,High School or Below,female
416,xqd20160417,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/11/2016 12:45,1.0,21,college,female
420,xqd20160421,COLLECTION_PAIDOFF,1000,15,9/11/2016,9/25/2016,9/28/2016 17:39,3.0,47,High School or Below,female
427,xqd20160428,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/11/2016 11:02,2.0,27,college,female
432,xqd20160433,COLLECTION_PAIDOFF,800,7,9/11/2016,9/17/2016,9/19/2016 15:00,2.0,34,Bechalor,female
438,xqd20160439,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/17/2016 10:06,7.0,25,college,female
443,xqd20160444,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,11/7/2016 19:21,28.0,26,college,female
464,xqd20160465,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 17:17,1.0,42,High School or Below,female
465,xqd20169466,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 12:54,1.0,49,High School or Below,female
474,xqd20160475,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 11:34,2.0,26,High School or Below,female
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 18:12,29.0,35,college,female
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female

In [17]:
df[(df['age'] > 30) & (df['Gender'] == 'female')]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
21,xqd20160022,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/8/2016 17:09,NaN,43,High School or Below,female
40,xqd20160041,PAIDOFF,1000,15,9/11/2016,9/25/2016,9/25/2016 9:00,NaN,32,college,female
51,xqd20160052,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,35,Bechalor,female
52,xqd20160053,PAIDOFF,800,15,9/11/2016,9/25/2016,9/13/2016 4:34,NaN,35,Bechalor,female
58,xqd20160059,PAIDOFF,800,15,9/11/2016,9/25/2016,9/24/2016 11:40,NaN,44,High School or Below,female
72,xqd20160073,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 16:00,NaN,33,Bechalor,female
78,xqd20160079,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/30/2016 14:29,NaN,37,college,female
79,xqd20160080,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,44,High School or Below,female
84,xqd20160085,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 13:00,NaN,37,High School or Below,female
89,xqd90160090,PAIDOFF,800,15,9/11/2016,9/25/2016,9/24/2016 20:33,NaN,46,High School or Below,female
90,xqd91160291,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 9:00,NaN,34,college,female
91,xqd90160092,PAIDOFF,1000,7,9/11/2016,9/17/2016,9/17/2016 9:00,NaN,32,Bechalor,female
99,xqd20160100,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/8/2016 16:55,NaN,31,Bechalor,female
133,xqd20160134,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/30/2016 7:12,NaN,33,college,female
136,xqd20160137,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 13:00,NaN,32,High School or Below,female
143,xqd20160144,PAIDOFF,800,15,9/11/2016,9/25/2016,9/21/2016 15:33,NaN,33,college,female
155,xqd20160156,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/11/2016 13:00,NaN,36,High School or Below,female
180,xqd20160181,PAIDOFF,1000,15,9/12/2016,9/26/2016,9/24/2016 11:00,NaN,31,High School or Below,female
185,xqd20160186,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/10/2016 20:28,NaN,31,High School or Below,female
212,xqd20160213,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/10/2016 16:41,NaN,33,High School or Below,female
217,xqd20160218,PAIDOFF,800,15,9/12/2016,9/26/2016,9/26/2016 9:00,NaN,31,High School or Below,female
231,xqd20160232,PAIDOFF,1000,7,9/12/2016,9/25/2016,9/25/2016 9:01,NaN,34,college,female
249,xqd20160250,PAIDOFF,1000,15,9/13/2016,9/27/2016,9/26/2016 6:17,NaN,35,Bechalor,female
257,xqd20160258,PAIDOFF,1000,15,9/13/2016,9/27/2016,9/27/2016 9:00,NaN,37,college,female
265,xqd20160266,PAIDOFF,1000,15,9/13/2016,9/27/2016,9/26/2016 15:10,NaN,34,Bechalor,female
266,xqd20160267,PAIDOFF,800,15,9/13/2016,9/27/2016,9/24/2016 12:46,NaN,31,Bechalor,female
269,xqd20160270,PAIDOFF,800,30,9/14/2016,10/13/2016,10/6/2016 12:09,NaN,40,college,female
271,xqd20160272,PAIDOFF,1000,30,9/14/2016,10/13/2016,10/8/2016 17:12,NaN,32,college,female
287,xqd20160288,PAIDOFF,1000,30,9/14/2016,10/13/2016,10/12/2016 3:49,NaN,38,High School or Below,female
305,xqd20160306,COLLECTION,1000,15,9/10/2016,9/24/2016,NaN,75.0,31,High School or Below,female
334,xqd20160335,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,38,college,female
414,xqd20160415,COLLECTION_PAIDOFF,1000,30,9/11/2016,10/10/2016,10/12/2016 9:59,2.0,36,High School or Below,female
420,xqd20160421,COLLECTION_PAIDOFF,1000,15,9/11/2016,9/25/2016,9/28/2016 17:39,3.0,47,High School or Below,female
432,xqd20160433,COLLECTION_PAIDOFF,800,7,9/11/2016,9/17/2016,9/19/2016 15:00,2.0,34,Bechalor,female
464,xqd20160465,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 17:17,1.0,42,High School or Below,female
465,xqd20169466,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 12:54,1.0,49,High School or Below,female
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 18:12,29.0,35,college,female
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female

In [18]:
df.groupby('Gender').loan_status.value_counts()

Gender  loan_status
female  PAIDOFF                53
        COLLECTION_PAIDOFF     14
        COLLECTION             10
male    PAIDOFF               247
        COLLECTION             90
        COLLECTION_PAIDOFF     86
dtype: int64

In [21]:
df.groupby('Gender').education.value_counts()

Gender  education
female  college                  33
        High School or Below     31
        Bechalor                 13
male    college                 187
        High School or Below    178
        Bechalor                 54
        Master or Above           4
dtype: int64